<h1>Pandas</h1>
    O nome pandas é derivado de panel data (dados em painel).<br>
    Pandas foi projetado para trabalhar com dados tabulares e heterogêneos de forma rápida e fácil.

<h4>Instalação</h4>
<li>
    Execute no terminal o comando: <b>$pip install pandas</b>
</li>
<h4>Importação da biblioteca</h4>

In [1]:
import pandas as pd

<h3>As duas principais estruturas de dados do pandas</h3>
<h4>Series</h4>
<p> 
    Muito semelhante a um dicionário, porém otimizado para operações matemáticas.
</p>

<h4>Data Frame</h4>
<p> 
    Representação de uma tabela de dados que contém uma coleção ordenada de colunas, em que cada uma pode ter um tipo de valor diferente (numérico,string, booleano etc.). O DataFrame(DF) tem índicies tanto para as colunas qunto para linhas.
</p>
<p>
    Exitem várias formas de se criar um DataFrame. Por exemplo a partir de dicionários e arrays multidimendionais. 
</p>

<h4>Importar dados para um Data Frame Pandas</h4>

In [3]:
# Importação a partir de uma arquivo csv
df_csv = pd.read_csv('employee.csv', sep=',', encoding='latin-1')

# Retorna as cinco primeiras linhas
df_csv.head()

   NumCad            NomFun      DatNas      DatAdm
0       1      Isaac da Luz  26/06/1990  11/10/2016
1       2     Agatha Campos  18/01/1991  04/05/2021
2       3      Luiza Aragão  25/05/1987  15/01/2022
3       4  Gabriela Almeida  26/05/1966  12/08/2023
4       5     Antônio Alves  26/12/2002  08/11/2023

In [4]:
# Importação a partir de um arquivo excel
df_excel = pd.read_excel('employees.xlsx')
df_excel

     NumCad             NomFun      DatNas      DatAdm
0         1       Isaac da Luz  26/06/1990  11/10/2016
1         2      Agatha Campos  18/01/1991  04/05/2021
2         3       Luiza Aragão  25/05/1987  15/01/2022
3         4   Gabriela Almeida  26/05/1966  12/08/2023
4         5      Antônio Alves  26/12/2002  08/11/2023
..      ...                ...         ...         ...
994     995        Laura Sales  06/03/1965  17/05/2018
995     996     Beatriz Moraes  26/05/1988  31/05/2023
996     997   Bárbara Silveira  16/05/1990  31/08/2016
997     998  Otávio Nascimento  21/06/1978  18/12/2023
998     999   Benjamin Freitas  28/04/1985  29/09/2014

[999 rows x 4 columns]

In [5]:
# Retorna o nome das colunas do DataFrame
df_csv.columns

Index(['NumCad', 'NomFun', 'DatNas', 'DatAdm'], dtype='object')